In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("menu.csv")

In [3]:
df

,id,Name,Price,Size,Toppings
0,1,Margherita,10,Medium,"Tomato sauce, mozzarella"
1,2,Pepperoni,11,Medium,"Tomato sauce, mozzarella, pepperoni"
2,3,Hawaii,11,Medium,"Tomato sauce, mozzarella, ham, pineapple"
3,4,Vegetarian,11,Medium,"Tomato sauce, mozzarella, mushrooms, olives, p..."
4,5,Seafood,12,Medium,"Tomato sauce, mozzarella, shrimp, crab, tuna"
5,6,Carbonara,12,Medium,"Tomato sauce, mozzarella, bacon, egg"
6,7,Quattro Stagioni,12,Large,"Tomato sauce, mozzarella, ham, mushrooms, arti..."
7,8,Quattro Formaggi,12,Large,"Tomato sauce, mozzarella, gorgonzola, parmesan..."
8,9,Napoli,13,Large,"Tomato sauce, mozzarella, anchovies, capers"
9,10,Calzone,13,Large,"Tomato sauce, mozzarella, ham, mushrooms, peppers"

In [4]:
data = {"id":[15], "Name":["Fis"], "Price":[20], "Size":["Large"], "Toppings": ["Bajskörvar"]}

In [5]:
entry = pd.DataFrame(data)

In [6]:
entry

   id Name  Price   Size    Toppings
0  15  Fis     20  Large  Bajskörvar

In [7]:
new_df = pd.concat([df,entry], ignore_index=True)

In [8]:
new_df

,id,Name,Price,Size,Toppings
0,1,Margherita,10,Medium,"Tomato sauce, mozzarella"
1,2,Pepperoni,11,Medium,"Tomato sauce, mozzarella, pepperoni"
2,3,Hawaii,11,Medium,"Tomato sauce, mozzarella, ham, pineapple"
3,4,Vegetarian,11,Medium,"Tomato sauce, mozzarella, mushrooms, olives, p..."
4,5,Seafood,12,Medium,"Tomato sauce, mozzarella, shrimp, crab, tuna"
5,6,Carbonara,12,Medium,"Tomato sauce, mozzarella, bacon, egg"
6,7,Quattro Stagioni,12,Large,"Tomato sauce, mozzarella, ham, mushrooms, arti..."
7,8,Quattro Formaggi,12,Large,"Tomato sauce, mozzarella, gorgonzola, parmesan..."
8,9,Napoli,13,Large,"Tomato sauce, mozzarella, anchovies, capers"
9,10,Calzone,13,Large,"Tomato sauce, mozzarella, ham, mushrooms, peppers"
10,15,Fis,20,Large,Bajskörvar

In [12]:
df["id"].max()

10

In [13]:
asd = df["id"].max() + 1

In [14]:
asd

11